# Scratch notes:

# Workflow summary:
# fastqc -> custom perl script -> fastqc -> create concatenated Symb. reference genome -> align and exclude Symb. reads ->
# create de novo ref genome ->  align -> call variants



# This Snakefile runs the pipeline for processing 2bRAD data from Stephanocoenia intersepta samples,
# including quality filtering, removal of symbiont reads, alignment to a de novo reference genome, and indel variant calling. 

###############################################
# CONFIG FILE
###############################################

# Project PRJNA number
prjna: "PRJNA884416"
# Conda environment
env: "/home/kcarls36/.conda/envs/bowtie2.yaml"
# Resource directory (SRR numbers, run info)
resource_dir: "/home/kcarls36/projects/stephanocoenia_FKNMS/resources"
# Raw fastq file directory
rawfq_dir: "/scratch/kcarls36/projects/data/fastq_raw"
# Raw QC file output directory
rawqc_dir: "/scratch/kcarls36/projects/data/rawqc"
# Trimmed fastq file directory
trimfq_dir: "/scratch/kcarls36/projects/data/trimfastq"
# Trimmed QC file output directory
trimqc_dir: "/scratch/kcarls36/projects/data/trimmedqc"
# Excluded symbiont trimmed fastq directory
trimfq_noSymb_dir: "/scratch/kcarls36/projects/data/trimfastq/trimmed_noSymb"
# Aligned symbiont bam directory
symb_align_dir: "/scratch/kcarls36/projects/data/alignments/symb_align"
# Aligned S. intersepta bam directory
sint_align_dir: "/scratch/kcarls36/projects/data/alignments/sint_align"
# Merged unique reads directory
merge_dir: "/scratch/kcarls36/projects/data/merged_unique"
# De novo reference genome directory
denovo_ref_dir: "/scratch/kcarls36/projects/data/merged_unique/de_novo_ref"
# Standard Kraken database directory
kraken_db_std: "/scratch/kcarls36/projects/data/kraken_db_standard"
# Custom Kraken database directory
kraken_db: "/scratch/kcarls36/projects/data/kraken_db"
# Script directory
scripts_dir: "/home/bin"
# Symbiont genomes
symbiont_genomes:
 - "/scratch/kcarls36/projects/data/symGenomes/Symbiodinium_microadriacticum_genome.scaffold.fasta"
 - "/scratch/kcarls36/projects/data/symGenomes/Breviolum_minutum.v1.0.genome.fa"
 - "/scratch/kcarls36/projects/data/symGenomes/Cladocopium_goreaui_Genome.Scaffolds.fasta"
 - "/scratch/kcarls36/projects/data/symGenomes/102_symbd_genome_scaffold.fa"
# Symbiont concatenated reference genome
reference_symbiont: "/scratch/kcarls36/projects/data/symGenomes/reference_symbiont"
# Number of threads to use
threads: 8
quality: "15,15"
minlen: 36


# Example project directory structure:

# Home directory:
#├── README.md
#├── data/
#│   └── SRR_numbers/
#│       └── README.md
#├── metadata/
#├── results/
#└── scripts/

# Scratch directory:
# ├── data/
# │   ├── rawfastq/
# │   ├── trimfastq/
# │       └── trimmed_noSymb/
# │   ├── symGenomes/
# │       └── reference_symbiont
# │   ├── alignments/
# |       └── symb_align/
# |       └── sint_align/
# │   └── kraken_db/
# │   └── merged_unique/
# │       └── de_novo_ref/
# ├── results/
# │   ├── rawqc/
# │   └── trimmedqc/



